<<!DOCTYPE html>
<html>
<head>
    <title>Teacher Dashboard</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<h1>👨‍🏫 Welcome {{ name }}</h1>

<div class="container">

    <div class="card">
        <h2>📤 Upload Notes</h2>
        <a href="/upload-notes">Upload Notes</a>
    </div>

    <div class="card">
        <h2>📋 Manage Notes</h2>
        <a href="/view-notes">Manage Notes</a>
    </div>

    <div class="card">
        <h2>🚪 Logout</h2>
        <a href="/logout">Logout</a>
    </div>
    <div class="card">
    <h2>🎥 Upload Video</h2>
    <a href="/upload-video">Upload Video</a>
</div>

</div>

</body>
</html>