<!DOCTYPE html>
<html>
<head>
    <title>Upload Video</title>
</head>
<body>

<h1>Upload Video</h1>

<form method="POST" enctype="multipart/form-data">

    <input type="text" name="title"
           placeholder="Video Title" required>

    <br><br>

    <input type="file" name="video" required>
    <br><br>

<select name="branch" required>
    <option value="">Select Branch</option>
    <option>CSE</option>
    <option>ECE</option>
    <option>EEE</option>
    <option>MECH</option>
    <option>CIVIL</option>
</select>

<br><br>

<select name="year" required>
    <option value="">Select Year</option>
    <option>1st Year</option>
    <option>2nd Year</option>
    <option>3rd Year</option>
    <option>4th Year</option>
</select>

<br><br>

    <br><br>

    <button type="submit">Upload Video</button>

</form>

</body>
</html>
