<h1>Notes</h1>
<form method="GET">
    <input type="text"
           name="search"
           placeholder="🔍 Search Notes">

    <button type="submit">Search</button>
</form>

<br>

{% for note in notes %}
    <div>
        <h3>{{ note[1] }}</h3>

        <a href="/uploads/{{ note[2] }}" download>
            Download
            {% if session.get('role') == "Teacher" %}
<br><br>
<a href="/delete_note/{{ note[0] }}" class="btn">🗑 Delete</a>
{% endif %}
        </a>
    </div>
    <hr>
{% endfor %}